.o-side {
  display: flex;
  flex-direction: column;

  @media (min-width:#{lower-bound($medium-range)}) {
    flex-direction: row;
  }
}

.o-side__left-top {
  @media (min-width:#{lower-bound($medium-range)}) {
    text-align: right;
    width: 25%;
  }
}

.o-side__right-bottom {
  flex-flow: column;

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 70%;
  }
}

//bio
.o-side--reverse {
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
}

.o-side__left-top--reverse {

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 50%;
    order: 1;
    border: 1px solid green;
  }
}

.o-side__right-bottom--reverse {
  flex-direction: column;
  //padding: $padding-large;
  @media (min-width:#{lower-bound($medium-range)}) {
    //padding-top: $padding-xx-large;
    width: 50%;
    border: 1px solid red;
  }
}
