.o-side {
  display: flex;
  flex-direction: column;

  @media (min-width:#{lower-bound($medium-range)}) {
    flex-direction: row;
  }
}

.o-side__left-top {
  @media (min-width:#{lower-bound($medium-range)}) {
    text-align: right;
    width: 25%;
  }
}

.o-side__right-bottom {
  flex-flow: column;

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 80%;
  }
}

.o-side--equal {
  display: flex;
  flex-direction: column;
}

.o-side__left-top--equal {
  @media (min-width:#{lower-bound($large-range)}) {
    width: 50%;

  }
}

.o-side__right-bottom--equal {
  flex-direction: column;
  padding: $padding-large;

  @media (min-width:#{lower-bound($large-range)}) {
    order: -1;
    padding-top: $padding-xx-large;
    width: 50%;
  }
}
