.o-stack {
  display: flex;
  flex-direction: column;
  padding: $padding-x-large $padding-x-large;
  //border: 2px solid pink;
}

.o-stack__third {
  //border: 1px solid red;
  flex-flow: column;

  @media (min-width:#{lower-bound($large-range)}) {
    flex-flow: row;
  }
}
