.c-button__subtitle {
  font-family: $font-family-secondary;
  background-color: $color-primary;
  color: $color-white;
  font-weight: $font-weight-bold;
  padding: $padding-medium;
  margin-top: $spacing-x-large;
  border-radius: $border-radius-large;
  width: 250px;
}
