.c-bio {
  background-color: $color-bg-primary;
  border: 2px solid blue;
  flex-direction: column;

  @media (min-width:#{lower-bound($medium-range)}) {
    flex-direction: row;
  }
}


.c-bio__image {
  border: 2px solid pink;
  background-color: $color-accent;
  height: inherit;
  width: 100%;
  justify-content: flex-end;
}

.c-bio__blurb {
  padding-top: $padding-large;
}

.c-bio__links {
  background-color: $color-secondary;
  height: 100px;
}
