.c-main,
.c-main-services {
  flex-flow: column;
  padding: $padding-large;
}

.c-main {
  @media (min-width:#{lower-bound($medium-range)}) {
    flex-flow: row;
    padding-top: $padding-xxxx-large;
  }
}

.c-main__label {
  @include label-primary;
}

.c-main__title {
  color: $color-secondary;
  font-weight: $font-weight-bold;
}

.c-main__subtitle {
  padding-bottom: $padding-xx-large;
}

// services

.c-main-services {
  background-color: $color-green;
  height: 400px;
  padding-left: $padding-xxxxx-large;
}

.c-main__label--light {
  @include label-secondary;
  @media (min-width:#{lower-bound($medium-range)}) {
    width: $width-medium;
  }

}

.c-main__title--light {
  color: $color-white;
  //border: 2px solid blue;
  justify-content: center;
  font-weight: $font-weight-regular;
  padding-bottom: $padding-large;
}

//areas of Expertise

.c-main__expertise {
  background-color: $color-bg-accent;
  border: 1px solid red;
  height: 800px;
  padding: $padding-xxxx-large $padding-small;

  @media (min-width:#{lower-bound($medium-range)}) {
    padding-left: $padding-xx-large;
  }

  @media (min-width:#{lower-bound($large-range)}) {
    padding-left: $padding-xxxxx-large;
    height: 500px;
  }
}

.c-main__title--secondary {
  font-weight: $font-weight-bold;
  color: $color-primary;
  //border: 2px solid blue;
  padding-bottom: $padding-x-large;

}

.c-main__list {
  padding-bottom: $padding-x-large;
  font-weight: $font-weight-medium;
  line-height: $line-height-tall;
  //line-height: $line-height-text;
  border: 2px solid blue;

  @media (min-width:#{lower-bound($medium-range)}) {
    padding-right: $padding-large;
  }

  @media (min-width:#{lower-bound($large-range)}) {
    padding-right: $padding-xxx-large;
  }
}
