.c-main,
.c-main-services {
  flex-flow: column;
  padding: $padding-large;
}

.c-main {
  @media (min-width:#{lower-bound($medium-range)}) {
    flex-flow: row;
    padding-top: $padding-xxxx-large;
  }
}

.c-main__label {
  @include label-primary;
}

.c-main__title {
  color: $color-secondary;
  font-weight: $font-weight-bold;
}

.c-main__subtitle {
  padding-bottom: $padding-xx-large;
}

// services

.c-main-services {
  background-color: $color-green;
  height: 400px;
}

.c-main__label--light {
  @include label-secondary;
  @media (min-width:#{lower-bound($medium-range)}) {
    width: $width-medium;
  }

}

.c-main__title--light {
  color: $color-white;
  //border: 2px solid blue;
  justify-content: center;
  font-weight: $font-weight-regular;
  padding-bottom: $padding-large;
}

//areas of Expertise

.c-main__title--secondary {
  font-weight: $font-weight-bold;
  color: $color-primary;
  //border: 2px solid blue;
  padding-bottom: $padding-x-large;

}

.c-main__list {
  padding: 0 $padding-xxx-large $padding-x-large 0;
  font-weight: $font-weight-medium;
  line-height: $line-height-tall;
}
