.c-contact {
  background-color: $color-bg-secondary;
  display: flex;
  flex-direction: column;
  padding: $padding-large;

  @media (min-width:#{lower-bound($large-range)}) {
    flex-direction: row;
  }
}

.c-contact__item--label {
  font-weight: $font-weight-bold;
}

.c-form__field,
.c-form__area {
  flex-direction: column;

  @media (min-width:#{lower-bound($large-range)}) {
    width: 70%;
  }
}

.c-form__title {
  color: $color-secondary;
  padding: $padding-x-large 0;
}
