
.c-footer {
  display: flex;
  padding: $padding-large;
  justify-content: space-between;
  background-color: $color-primary;
}

.c-footer__label--link,
.c-footer__label--default {
  color: $color-white;
}
