.c-intro__home {
  background-color: $color-primary;
  border: 1px solid purple;
}

.c-intro__heading {
  padding-bottom: $padding-large;

  @media (min-width:#{lower-bound($large-range)}) {
    font-size: $font-size-heading-x-large;
  }
}
.c-intro__text {
  color: $color-white;
}
