.c-card,
.c-card--community,
.c-card--list {
  flex-flow: column;
  padding: $padding-xx-large $padding-large;
  @media (min-width:#{lower-bound($large-range)}) {
    flex-flow: row;
  }
}

.c-card-row {
  flex-flow: column;
  padding: $padding-large;

  @media (min-width:#{lower-bound($medium-range)}) {
    flex-flow: row;
  }
}

.c-card--list {
  padding-right: $padding-xxx-large;

  @media (min-width:#{lower-bound($large-range)}) {
    padding-right: $padding-xxxxx-large;
  }
}

.c-card__paragraph {
  padding-bottom: $padding-large;
}

.c-card__title {
  color: $color-secondary;
  font-weight: $font-weight-bold;
  padding-right: $padding-large;
}

.c-card--fancy {
  flex-direction: column;
  padding-bottom: $padding-large;

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 50%;
  }
}

.c-card__title--fancy {
  color: $color-green;
  font-weight: $font-weight-x-bold;
  font-style: italic;

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 80%;
  }

}

.c-card--spotlight {
  flex-direction: column;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: $padding-small 0 $padding-small $padding-small;
  background-image: url('../assets/spotlight.jpg');

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 50%;
    flex-direction: column;
  }
}

.c-card__label--spotlight {
  font-weight: $font-weight-bold;
  color: $color-white;
}

.c-card__title--spotlight {
  font-weight: $font-weight-bold;
  font-style: italic;
  color: $color-white;
}

.c-card__image--community {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: $padding-small 0 $padding-small $padding-small;
  background-image: url('../assets/spotlight.jpg');
}











//OLD STUFF
// services

.c-card--services {
  background-color: $color-bg-accent;
  height: 400px;
  //padding-left: $padding-xx-large;
}

.c-card__title--accent {
  font-weight: $font-weight-regular;
  color: $color-secondary;
}

//areas of Expertise

.c-main__expertise {
  background-color: $color-bg-accent;
  border: 1px solid red;
  height: 800px;
  //padding: $padding-xxxx-large $padding-small;

  @media (min-width:#{lower-bound($medium-range)}) {
    padding-left: $padding-xx-large;
  }

  @media (min-width:#{lower-bound($large-range)}) {
    //padding-left: $padding-xxxxx-large;
    height: 500px;
  }
}

.c-main__title--secondary {
  font-weight: $font-weight-bold;
  color: $color-primary;
  border: 2px solid blue;
  //padding-bottom: $padding-x-large;

}

.c-main__list {
  padding-bottom: $padding-x-large;
  font-weight: $font-weight-medium;
  line-height: $line-height-tall;
  //line-height: $line-height-text;
  border: 2px solid blue;

  @media (min-width:#{lower-bound($medium-range)}) {
    padding-right: $padding-large;
  }

  @media (min-width:#{lower-bound($large-range)}) {
    padding-right: $padding-xxx-large;
  }
}

// Designers List


.c-designers {
  background-color: $color-bg-primary;
  //padding: $padding-x-large;
  display: flex;
  flex-flow: column;

  @media (min-width:#{lower-bound($medium-range)}) {
    align-items: center;
    flex-flow: row;
  }
}

.c-designers__name {
  color: $color-secondary;
  font-family: $font-family-secondary;
  font-weight: $font-weight-x-bold;
  line-height: $line-height-heading;
  //border: 2px solid blue;
  padding-right: $padding-large;
}

.c-designers__role {
  color: $color-primary;
  font-style: italic;
  font-family: $font-family-primary;
  line-height: $line-height-heading;
  //padding-top: $padding-small;
}

.c-designers__label {
  //padding: $padding-x-large 0 0 $padding-x-large;
  font-weight: $font-weight-bold;
}
