.c-card,
.c-card--fancy,
.c-card--list {
  flex-flow: column;
  padding: $padding-xx-large $padding-large;

  @media (min-width:#{lower-bound($large-range)}) {
    flex-flow: row;
    padding: $padding-xx-large $padding-large $padding-xx-large $padding-xxxxx-large;
  }
}

.c-card-row {
  flex-flow: column;

  @media (min-width:#{lower-bound($medium-range)}) {
    flex-flow: row;
  }
}

.c-card__border {
  border-bottom: $border;
}

.c-card--list {
  padding-right: $padding-xxx-large;

  @media (min-width:#{lower-bound($large-range)}) {
    padding-right: $padding-xxxxx-large;
  }
}

.c-card__paragraph {
  padding-bottom: $padding-large;
}

.c-card__title {
  color: $color-secondary;
  font-weight: $font-weight-bold;
  padding-right: $padding-large;
}

.c-card--fancy {
  background-color: $color-accent;
  flex-direction: column;

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 50%;
  }
}

.c-card__title--fancy {
  color: $color-green;
  font-style: italic;
  font-weight: $font-weight-x-bold;

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 80%;
  }
}

.c-card--spotlight {
  @include img;
  background-image: url('../assets/spotlight.jpg');
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  padding: $padding-small 0 $padding-small $padding-small;

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 50%;
    flex-direction: column;
  }
}

.c-card__label--spotlight {
  color: $color-white;
  font-weight: $font-weight-bold;
}

.c-card__title--spotlight {
  color: $color-white;
  font-style: italic;
  font-weight: $font-weight-bold;
}

.c-card--services {
  background-color: $color-bg-accent;
  height: 400px;
}

.c-card__title--accent {
  color: $color-secondary;
  font-weight: $font-weight-regular;
}

.c-card--alt {
  background-color: $color-bg-primary;
  height: 800px;


  @media (min-width:#{lower-bound($medium-range)}) {
    padding-left: $padding-xx-large;
  }

  @media (min-width:#{lower-bound($large-range)}) {
    height: 500px;
  }
}

.c-card__title--secondary {
  color: $color-primary;
  font-weight: $font-weight-bold;

  @media (min-width:#{lower-bound($medium-range)}) {
    width: 85%;
  }

  @media (min-width:#{lower-bound($large-range)}) {
    width: 70%;
  }
}

.c-card__list {
  font-weight: $font-weight-medium;
  padding-bottom: $padding-x-large;

  @media (min-width:#{lower-bound($medium-range)}) {
    padding-right: $padding-large;
  }

  @media (min-width:#{lower-bound($large-range)}) {
    padding-right: $padding-xxx-large;
  }
}

.c-card__item {
  font-size: $font-size-text-medium;
}

.c-designers {
  background-color: $color-bg-primary;
  display: flex;
  flex-flow: column;
  padding: $padding-x-large;

  @media (min-width:#{lower-bound($medium-range)}) {
    align-items: center;
    flex-flow: row;
  }
}

.c-designers__title {
  color: $color-secondary;
  font-family: $font-family-secondary;
  font-weight: $font-weight-x-bold;
  padding-right: $padding-large;
}

.c-designers__subtitle {
  color: $color-primary;
  font-family: $font-family-primary;
  font-style: italic;

  @media (min-width:#{lower-bound($large-range)}) {
    padding-top: $padding-medium;
  }
}

.c-designers__label {
  font-weight: $font-weight-bold;
}
