.c-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: space-between;
  padding-top: $padding-small;
}

.c-nav__title {
  padding-left: $padding-small;
}

.c-nav__menu {
  @media (min-width:#{lower-bound($medium-range)}) {
    display: none;
  }
}

.c-nav__link {
  align-self: flex-start;
  display: none;

  @media (min-width:#{lower-bound($medium-range)}) {
    display: flex;
  }
}

.c-nav__link--item {
  padding-right: $padding-medium;
}
